.card{border: 5px solid darkgoldenrod; padding: 10px 10px 10px 10px; width: 55%; margin: 10px 10px 10px 10px; background-color: lightcoral;}
.header{background-color: lightcyan; width: 20%; text-align: center; border-radius: 15%; }
.header:hover {background-color: yellow;}
.value{background-color: lightsteelblue;}
h1{text-align: center;}