.card{border: 5px solid darkgoldenrod; padding: 10px 10px 10px 10px; width: 55%; margin: 10px 10px 10px 10px; background-color: lightblue;}
.value{background-color: lightsteelblue;}
h1{text-align: center;}